modules = ["go", "nodejs-20", "postgresql-16", "go-1.24"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && go mod tidy && go run main.go"
waitForPort = 8080

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 33317
externalPort = 3000

[[ports]]
localPort = 40057
externalPort = 3001

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "cd server && ./hcm-server"]
build = ["sh", "-c", "(cd client && npm run build) && (cd server && go build -o hcm-server main.go)"]
